services:
  monkeymcpsseremote:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "5000:5000"
    volumes:
      - ~/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro